flask
flask-cors
hf_xet
python-dotenv
requests
bcrypt
protobuf==3.20.*
pydub
grpcio-tools
google-cloud-storage
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
psycopg2-binary
openai
ffmpeg-python
faster-whisper